body {
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;

  pre {
    font-size: 7em;
    
  }

  h1 { 
    text-align: center;
    font-size: 2.5em;
    color: #635F5D;
  }

  .Dropdown-root {
    width: 300px;
    display: inline-block;
    font-size: 1.5em;
  }

  .Dropdown-menu {
    max-height: 500px;
  }

  .menus-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 60px;
  }

  #vg-tooltip-element {
    font-size: 20px;
    color: #3e3c38;
  }

  .tick {
    line {
      stroke: #C0C0BB;
    }
    text {
      fill: #635F5D;
    }
  }

  // .mark {
  //   fill: #137880;
  // }

  .axis-label, .dropdown-label {
    font-size: 2em;
    fill: #635F5D;
    color: #635F5D;
  }

  .dropdown-label {
    margin-left: 100px;
    margin-right: 15px;
  }
}