body {
  background-color: rgb(230, 212, 173);
  margin: 0;
  overflow: hidden;
  font-family: --apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;

  svg {
    background-color: white;

    .marker-line {
      stroke: black;
      stroke-width: 5px;
    }

    path {
      fill: none;
      stroke: black;
      stroke-width: 10px;
    }

    text {
      font-size: 2em;
    }

    .domain {
      display: none;
    }

    .tick {
      line {
        stroke: #bbbbbb;
      }
      text {
        fill: #565656;
        font-size: 14px;
      }
    }

    .axis-label {
      fill: #808080;
      font-size: 24px;
    }
  }
}
