body {
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;

  pre {
    font-size: 7em;
    
  }

  #vg-tooltip-element {
    font-size: 20px;
    color: #3e3c38;
  }

  .marks {
    .land {
      fill: #137B80;
    }
    .sphere {
      fill: #ececec;
    }
    .interiors {
      fill: none;
      stroke: #339498;
    }
    .graticules {
      fill: none;
      stroke: #dadada;
    }
  }

}