html {
  body {
    margin: 0;
    font-family: "Poppins", sans-serif;

    h1 {
      text-align: center;
      color: #322c29;
    }

    #wrapper {
      overflow-x: scroll;
    }
    pre {
      font-size: 7em;
    }

    #vg-tooltip-element {
      font-size: 20px;
      color: #3e3c38;
    }

    .bubble-map {
    }
    .map-marks {
      .land {
        fill: #ececec;
      }
      .sphere {
        fill: #fbfbfb;
      }
      .interiors {
        fill: none;
        stroke: #d9dfe0;
      }
      .graticules {
        fill: none;
        stroke: #ececec;
      }
      circle {
        fill: #137b80;
        opacity: 0.3;
      }
    }

    .hist-marks {
      fill: #137b80;
    }

    .axis-label {
      font-size: 0.7em;
      fill: #635f5d;
    }

    .tick {
      line {
        fill: none;
        stroke: #ececec;
      }
      text {
        fill: #635f5d;
        font-size: 0.5em;
      }
    }
  }
}
